<md-content ng-controller="login" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="70" flex-gt-md="33">
        <md-card-content>
            <form name="Form" ng-submit="validateLogin()">
                <md-input-container class="md-block">
                    <label>Login</label>
                    <input type="text" name="email" ng-model="myEmail" placeholder="email@email.com" required="" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="myPassword" placeholder="password" required="">
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center">
                    <md-button ng-disabled="!Form.$valid" type="submit" class="md-raised md-accent">&nbsp Login &nbsp</md-button>
                </section>
            </form>
        </md-card-content>
    </md-card>
</md-content>

<link rel="stylesheet" href="loginStyles.css">


<!--
<form accept-charset="UTF-8" ng-controller="login" ng-submit="validateLogin()">
    <fieldset>
        <input placeholder="E-mail" name="email" type="text" ng-model="email">
        <input placeholder="Password" name="password" type="password" value="" ng-model="password">
        <div class="checkbox">
            <label>
                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
            </label>
        </div>
        <input type="submit" value="Login">
    </fieldset>
</form>
-->
